div.accordion.affix-top#accordionsidebar

  div.accordion-group
    div.accordion-heading
      a.accordion-toggle(data-toggle='collapse',data-parent='#accordionsidebar',href='#collapseZero',style='outline:none')
        i.icon-chevron-right.pull-right 
        span Sections
    div#collapseZero.accordion-body.collapse
      div.accordion-inner
        ul
          each s in sections
            li
              a(href='#{docs_endpoint}section/#{s}') #{s}

  div.accordion-group
    div.accordion-heading
      a.accordion-toggle(data-toggle='collapse',data-parent='#accordionsidebar',href='#collapseOne',style='outline:none')
        i.icon-chevron-right.pull-right 
        span Create Calls - HTTP PUT
    div#collapseOne.accordion-body.collapse
      div.accordion-inner
        ul
          each apicall in routes
            if apicall.method == 'put'
              li
                a(href='##{apicall.method}-#{apicall.endpoint}') #{apicall.endpoint}
            
  div.accordion-group
    div.accordion-heading
      a.accordion-toggle(data-toggle='collapse',data-parent='#accordionsidebar',href='#collapseTwo',style='outline:none')
        i.icon-chevron-right.pull-right 
        span Read Calls - HTTP GET
    div#collapseTwo.accordion-body.collapse
      div.accordion-inner
        ul
          each apicall in routes
            if apicall.method == 'get'
              li
                a(href='##{apicall.method}-#{apicall.endpoint}') #{apicall.endpoint}

  div.accordion-group
    div.accordion-heading
      a.accordion-toggle(data-toggle='collapse',data-parent='#accordionsidebar',href='#collapseThree',style='outline:none')
        i.icon-chevron-right.pull-right 
        span Update Calls - HTTP POST
    div#collapseThree.accordion-body.collapse
      div.accordion-inner
        ul
          each apicall in routes
            if apicall.method == 'post'
              li
                a(href='##{apicall.method}-#{apicall.endpoint}') #{apicall.endpoint}

  div.accordion-group
    div.accordion-heading
      a.accordion-toggle(data-toggle='collapse',data-parent='#accordionsidebar',href='#collapseFour',style='outline:none')
        i.icon-chevron-right.pull-right 
        span Delete Calls - HTTP DELETE
    div#collapseFour.accordion-body.collapse
      div.accordion-inner
        ul
          each apicall in routes
            if apicall.method == 'delete'
              li
                a(href='##{apicall.method}-#{apicall.endpoint}') #{apicall.endpoint}
